/* =================================
   Module 1: CSS Syntax and Linking
   ================================= */

/* TODO: Style the body element
   - Set background-color to #f5f5f5
   -ruleset

   SELECTOR {
      PROPERTY : VALUE
   }
*/

body {
   background-color: #f5f5f5;
   font-size: 23px;
}


/* TODO: Style all h1 elements
   - Set color to #333
*/
h1,
p {
   color: #333;
   background-color: #d9c3c3;
   font-size: 2rem;
   font-family: Georgia, 'Times New Roman', Times, serif;
   text-align: center;
   text-decoration: underline;
   /* border-left: 10px solid red; */
   border: 10px solid red;
   border-radius: 10px;
   background-image: url('https://cdn.pixabay.com/photo/2016/11/29/03/53/texture-1869237_1280.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   width: 400px;
   height: 300px;
   /* padding-top: 100px;
   padding-right: 100px;
   padding-left: 100px;
   padding-bottom: 100px; */
   /* padding: 10px 20px 30px 40px; */
   /* padding: 10px; */
   /* padding: 10px 30px; */
   /* padding: 10px 30px 40px; */
   margin: 100px;

}


/* TODO: Style all paragraph elements
   - Set color to #666
*/

/* p {
   color: #666;
} */